<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title>
    <link rel="stylesheet" href="/css/style2.css">
    <script src="/js/app3.js"></script>
</head>
<body>
<h1>Welcome to my About HTML page</h1>
<p>This is a paragraph of text.</p>
<ul>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>
<p>Another paragraph of text.</p>

 {{>partial}}
</body>
</html>




