<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h2>this is help page</h2></title>
    {}
</head>
<body>
<h4>this is help page</h4>
<form>
    <input placeholder="Location">
    <button>Search</button>
</form>

<p id="message-1"></p>
<p id="message-2"></p>
{{>partial}}
<script src="/js/app3.js"></script>
</body>
</html>